{
  devcontainer.enable = true;
  devcontainer.tweaks = [ "podman" "vscode" ];
  devcontainer.networkMode = "host";
  devcontainer.settings.customizations.vscode.extensions = [
    "bbenoist.Nix"
    "GitHub.copilot"
    "GitHub.copilot-chat"
    "mkhl.direnv"
    "vscodevim.vim"
  ];
}
